*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-4::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.btn-4 span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.btn-4::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
.btn-4 span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: rgba(0, 0, 0, 0.09);
}
span {
    display: block;
    padding: 10px 40px;
}
.ibutton::before,
.ibutton::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}

span::before,
span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}
button:hover::before,
button:hover::after {
    width: 100%;
}
button:hover span::before,
button:hover span::after {
    height: 100%;
}
