.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, rgb(5, 11, 92), rgb(26, 115, 232));
    box-shadow: 0px 3px 5px 0px rgba(0, 4, 56, 0.5);
}

.search-form__input {
    width: 300px;
    height: 30px;
    padding: 5px;

    font-size: 16px;

    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &::placeholder {
        font-size: 16px;
        color: #cccccc;
    }
}

.search-form__button {
    width: 100px;
    height: 30px;

    font-size: 16px;

    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;
    transition: font-weight 250ms linear, color 250ms linear,
        background-color 250ms linear;
    &:hover,
    &:focus {
        background-color: rgb(5, 11, 92);
        color: #ffffff;
        font-weight: 700;
    }
}
